{% extends 'base.html.twig' %}

{% block title %}TVNET{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="grid gap-4 grid-cols-3 grid-rows-3">
        {% if articles is defined %}
            {% for article in articles %}
                <a href="articles/{{ article.id }}">
                    <div class="m-8 h-full">
                        <div class="shadow-lg">
                            <img src="https://placehold.co/345x255/png" alt="article_{{ article.id }}"
                                 class="w-full object-cover h-32 sm:h-48 md:h-64">
                            <div class=" p-2 items-center bg-white rounded-b-lg">
                                <p>{{ article.title }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}